.footer{
    background: rgb(144, 195, 221);
    text-align: center;
    padding: 20px;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
}
.product{
    background: rgb(144, 195, 221);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    margin-top: -10px;
}
.fs-1{
    font-size: 12px;
}