.center{
    text-align: center;  
}

.forgot-group{
    width: 50%;
    margin: 50px auto;
    padding: 10px;
    font-size: 24px;
    text-align: center;
}
.forgot-email{
    width: 400px;
    border-radius: 10px;
}
