.horizontal_menu{
    text-align: right ;
    margin : 10px;
    padding: 10px;
    width: 95% ;
    height: 50px ;
    background: transparent;
}
.navlink{
    color: white;
    text-decoration: none ;
    margin : 10px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace ;
}
.navlink:hover{
    font-weight: bold;
}
.mainlogo{
    align-content: center ;
    float: left;
}

.activeNavLink{
    color: white;
    text-decoration: none ;
    margin : 10px;
    margin-left: 30px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace ;
    float: right;
}