.horizontal_menu{
    padding: 10px;
    height: 75px ;
    background: rgb(24, 24, 24);
}
.navlink-login{
    color: white;
    text-decoration: none ;
    margin : 3px;
    padding : 10px;    
    font-size: 16px;
    /* font-family: 'Courier New', Courier, monospace ; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Raleway', sans-serif;
    background-color: rgb(40, 79, 117) ;
    border: 1px solid rgb(40, 79, 117);
    border-radius: 5px;
}
.navlink-register{
    color: white;
    text-decoration: none ;
    margin : 3px;
    padding : 10px;    
    font-size: 16px;
    /* font-family: 'Courier New', Courier, monospace ; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Raleway', sans-serif;
    background-color: rgb(177, 38, 38) ;
    border: 1px solid rgb(177, 38, 38) ;
    border-radius: 5px;
}
.rightLoginRegister{
    margin: 15px 50px 0px 0px;
    float : right ;
}
/* .navlink{
    color: white;
    text-decoration: none ;
    margin : 3px;
    padding : 10px;    
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace ;
    background-color: black ;
    border: 1px solid #000;
    border-radius: 5px;
} */
.navlink:hover{
    font-weight: bold;
}
.mainlogo{
    align-content: center ;
    margin: 5px;
    float: left;
}

.activeNavLink{
    color: white;
    text-decoration: none ;
    margin : 10px;
    margin-right: 30px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace ;
    float: right;
}