.horizontal_menu{
    position: relative;
    top: 0;
    width: 100%;
    padding: 10px;
    height: 75px ;
    background: rgb(24, 24, 24);
}
.navlink-login{
    color: white;
    text-decoration: none !important;
    margin : 3px;
    padding : 10px;    
    font-size: 16px;
    /* font-family: 'Courier New', Courier, monospace ; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Raleway', sans-serif;
    background-color: rgb(40, 79, 117) ;
    border: 1px solid rgb(40, 79, 117);
    border-radius: 5px;
}
.navlink-login:hover{
    color : whitesmoke; 
}
.navlink-register{
    color: white;
    text-decoration: none !important;
    margin : 3px;
    padding : 10px;    
    font-size: 16px;
    /* font-family: 'Courier New', Courier, monospace ; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Raleway', sans-serif;
    background-color: rgb(124, 22, 22) ;
    border: 1px solid rgb(124, 22, 22) ;
    border-radius: 5px;
}
.navlink-register:hover{
    color : whitesmoke; 

}
.rightLoginRegister{
    margin: 15px 50px 0px 0px;
    float : right ;
}
.activeRightHeader{
    margin: 10px 0px 0px 0px;
    float : right ;
}
/* .navlink{
    color: white;
    text-decoration: none ;
    margin : 3px;
    padding : 10px;    
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace ;
    background-color: black ;
    border: 1px solid #000;
    border-radius: 5px;
} */
.navlink:hover{
    font-weight: bold;
}
.mainlogo{
    align-content: center ;
    margin: 5px;
    float: left;
}

.activeNavLink{
    text-align: center;
    color: white;
    text-decoration: none !important;
    margin-right: 30px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace ;
}
.activeNavLink:hover{
    color:whitesmoke;
}