.jumbotron-out-div{
    width: 500px; 
    height:250px;
    margin: 50px;
}
.jumbotron-in-div{
    float:left;
    width:150px;
    height:150px;
    border:#CCC solid 1px;
    margin-right: 10px;
    margin-left: 4px;
}