*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}
  .login-box-2{
    margin: 50px auto;
    width: 350px;
    height: 100%;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  border-radius: 5px; 
  }
  .login-div {
    position: relative ;
    background-color: rgb(238, 241, 241); 
    width: 350px;
    height: 100%;
    float: right ;
    border-radius: 10px ;
    border: 2px solid gray;
  } 
  .login-div h3{
    margin: 10px 20px -15px 20px; 
    font-family: 'Courier New', Courier, monospace ;
    text-align: center;
}
  .logo-des{
    margin: 10px 20px 10px 137.5px; 
  }
  .email-login,.email-signup{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    margin-top: 50px;
    text-align:center;
  }
  .u-form-group{
    width:100%;
    margin-bottom: 10px;
    float: right ;
  }
  .u-form-group p{
    font-size: 13px; 
    text-decoration: none;
  }
.forgot-tag{
    font-size: 10px; 
    color: #fff ;
    text-decoration: none;
  }
  .u-form-group label{
      font-size: 12px; 
  }
  .u-form-group .login-email-text, .login-password-text{
    width: 75%;
    height:35px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 20px;
    color: #333;
    font-size:0.8rem;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;
  }
  .u-form-group input:focus{
    border-color: #358efb;
    border-radius: 10px ;
  }
  .u-form-group button{
    width:75%;
    background-color: rgb(28, 109, 185);
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 5px;
  }
  .u-form-group button:hover{
    cursor: pointer
  }
  .forgot-tag{
    font-size: 13px; 
    color: #073763;
  }
  .forgot-password{
    width:50%;
    float: right;
    text-align: right;
    margin: 7.5px; 
    text-decoration: none !important;
    color: #000;
    font-size: 0.8rem;
  }
  /* .seperator{
      position: relative;
      width: 90%;
      border: 1px solid rgba(0, 0, 0, 0.637);
  } */
  .login-with{
      font-size: 12px;
       }
  .title{
    font-size: 18px;
    font-family: cursive !important;
    letter-spacing: 1.25px;
    /* font-family: 'PT Sans', sans-serif !important; */
    /* font-family: 'Oxygen', sans-serif !important; */
       }
  
     /*  .u-form-group .google-button{
    background-color: #ad0100;
    width: 60px ;
    margin: 5px ;
    height: 10%;
    border-radius: 20px;
  }
  .u-form-group .facebook-button{
    background-color: #073763;
    width: 60px ;    
    margin: 5px ;
    height: 10%;
    border-radius: 10px;
   }
   .u-form-group .twitter-button{
    background-color: #2b78f8;
    width: 60px ;
    margin: 5px;
    border-radius: 10px;
   }
   .u-form-group .google-button:hover{
    border-radius: 15px;
    cursor: pointer;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
  }
  .u-form-group .facebook-button:hover{
    border-radius: 15px;
    cursor: pointer;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
  }
  .u-form-group .twitter-button:hover{
    border-radius: 15px;
    cursor: pointer;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
  } */