
.logout-button{
    background-color: orange ;
    border : none ; 
    width: 100px;
    height: 30px;
    margin: 5px;
    font-size: 14px; 
    border-radius: 5px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    float: right;
}









