
.logout-button{
    background-color: orange ;
    border : none ; 
    width: 100px;
    height: 30px;
    font-size: 14px; 
    border-radius: 5px;
    font-weight: bold;
    font-family: monospace;
}









