
.outdiv{
    width: 100% ;
    height: 655px;
    background-color: rgb(239,241,243);
    margin: 30px 10px ;
    border-radius: 5px;
    float: left;
    padding: 10px;
    padding-right:5px;
    font-size: 14px;
    font-weight:bold;
    color: gray;
}
.new-div{
    overflow: auto !important;
    height: 95%;
    width: 100% !important ;
}
.ul-field{
    margin : 0px;
    padding: 0px;
}
.li-field{
    color : black;
    width: 90%;
    padding : 10px 0px 15px 5px !important;
    margin-right: 32px!important;
    font-family: 'Sarabun', sans-serif;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    position: relative !important;
}
.out-div-li{
    color : black;
    width: 90%;
    padding : 15px;
    margin: 10px;
    font-family: 'Sarabun', sans-serif;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px rgb(223,225,227);
    border: none;
    border-radius: 5px;

}
.li-field:hover{
    cursor: all-scroll;
}
.li-menu{
    float: right;
    position: relative;
    top: -10px;
}
.li-menu-top-right-button{
    background-color: transparent ;
    border: none;
}
.date{
    float: right;
    position: relative;
    bottom: 10px;
    margin-left : 10px ;
    font-weight: bold;
    font-size: 13px;
    color: #0D0D4B;
}
.post{
    text-align: left
}
.div-header{
    position: initial;
    margin-bottom: 20px;
}
.form-button{
    border: none;
    float: right;
    background-color: transparent;
}
.quantity{
    background: rgb(207, 210,212);
    border-radius: 50%;
    color: rgb(64, 70, 74);
    margin-right: 5px;
    padding : 5px;
    font-size: 14px;
}
.no-content{
    text-align: center;
    margin-top: 50%;
    font-size: 24px;
    font-family: 'Varela Round', sans-serif;
    background-color: transparent;
}
.all-div{
    display: flex;
    position: absolute;
    width: 100%;
    height: 82.5% ;
    padding: 0px;
    margin: 0px;
}
.welcome-div {
    text-align: center;
    font-size: 24px;
    color : white;
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
    animation-name: fadein;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% { opacity: 0;  }
    50%   { opacity: 1; }
    100% {display: none; opacity: 0; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    0% { opacity: 0;  }
    50%   { opacity: 1; }
    100% { display:none;opacity: 0; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% { opacity: 0;  }
    50%   { opacity: 1; }
    100% { display:none;opacity: 0;  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    0% { opacity: 0;  }
    50%   { opacity: 1; }
    100% {display: one; opacity: 0;  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    0% { opacity: 0;  }
    50%   { opacity: 1; }
    100% { display:none;opacity: 0;  }

}
.createdat-div{
    color : white ;
    margin-top: 10px;
    margin-left: 20px;
}
.textarea{
    resize: vertical;
    padding :10px;
    margin: 10px;
    width: 92%;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid gray;
}
.add-button{
    background-color: rgb(50, 176, 79);
    color: white;
    border: 1px rgb(50, 176, 79) solid; 
    margin: 2px;
    border-radius: 5px;
    font-size: 16px;
    height: 30px;
    width: 47.5%;
}
.cancel-button{
    margin: 2px;
    border-radius: 5px;
    font-size: 16px;
    height: 30px;
    width: 48.25%;
}
.button-group{
    text-align: center;
}

