
.settings-button{
    background-color: rgb(207,210 ,213) ;
    border: none;
    width: 50px;
    height: 30px;
    margin: 5px;
    font-size: 14px; 
    border-radius: 5px;
    font-weight: bold;
    font-family: monospace;
    float: right;
}