
.settings-button{
    border: none;
    width: 50px;
    height: 35px;
    margin: 0px auto;
    font-size: 14px; 
    border-radius: 5px;
    font-weight: bold;
    font-family: monospace;
    float: right;
}